#this is imported by Makefile for setting required values

KERNELROOT=/home/patchwerk/buildroot-2018.02.9/output/build/linux-3.19.8
COMPILERROOT=/home/patchwerk/buildroot-2018.02.9/output/host

export PATH := $(PATH):$(COMPILERROOT)/bin
export COMPILEPREFIX=aarch64-linux-

GCC=$(COMPILEPREFIX)gcc
LD=$(COMPILEPREFIX)ld
AS=$(COMPILEPREFIX)as
NM=$(COMPILEPREFIX)nm
OBJCOPY=$(COMPILEPREFIX)objcopy

INCLUDEDIR = -I $(COMPILERROOT)/lib/gcc/aarch64-buildroot-linux-uclibc/4.9.4/include -I $(KERNELROOT)/arch/arm64/include -I $(KERNELROOT)/arch/arm64/include/generated -I $(KERNELROOT)/include -I $(KERNELROOT)/arch/arm64/include/uapi -I $(KERNELROOT)/arch/arm64/include/generated/uapi -I $(KERNELROOT)/include/uapi -I $(KERNELROOT)/include/generated/uapi -isystem $(COMPILERROOT)/lib/gcc/aarch64-linux-android/5.3.1/include -include $(KERNELROOT)/include/linux/kconfig.h
DEFINES=-D __KERNEL__ -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0
